<h1>Book yours</h1>
<%= simple_form_for [@ship, @booking] do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.button :submit , class: "btn btn-light"%>
<% end %>
