<div class="card-trip">
  <%= image_tag(ship.picture_1) %>
  <div class="card-trip-infos">
      <h2 class="mb-2"><%= ship.name %></h2>
      <p class="mb-3"><%= ship.description %></p>
  </div>
</div>
