<div class="card-trip">
  <%#= image_tag "spaceship2.jpeg" %>
  <div class="card-content">
      <h2><%= ship.name %></h2>
      <p><%= ship.description %></p>
    <div class="button mt-3">
      <button type="button" class="btn btn-success">Accept</button>
      <button type="button" class="btn btn-secondary">Reject</button>
    </div>
  </div>
</div>
