<div class="container my-5">
  <% if user_signed_in? %>
  <h1 class="mt-4">My Dibs</h1>
    <% @user.bookings.each do |booking| %>
      <%= render 'bookings/dib', booking: booking %>
    <% end %>
  <h1 class="mt-4">My Ships</h1>
    <% @user.ships.each do |ship| %>
      <%= render 'bookings/ship', ship: ship %>
    <% end %>
  <% end %>
</div>
