Navbar here
<div class="container">
<br>
<div style="font-size:40px"><center> <strong><%= @ship.name%></strong></h1>
</div>

<div class="big-display">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  </div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  </div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  </div>

</div>
<div class="box">
<div>
  <h2>Description</h2>
  <p><%= @ship.description%></h1><p>
</div>
<div>Booking widget
  </div>
</div>
</div>
