body {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
 font-family: 'Montserrat', sans-serif;
 color:#ffffff;
}

.login-page-header {
  font-family: 'Montserrat', sans-serif;
  color:#fca311;
  font-weight: bold;
  margin: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#14213d;
}

.form-label {
  color:#fca311;
  font-family: 'Montserrat', sans-serif;
}

.form-check-label {
  color:#fca311;
  font-family: 'Montserrat', sans-serif;
}

.sign-up-links {
  color:#fca311;
  font-family: 'Montserrat', sans-serif;
}

.booking-form-text {
  font-family: 'Montserrat', sans-serif;
  color:#14213d;
}
