.banner {
  background-size: cover;
  background-position: center;
  padding-top: 150px 0;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner h1 {
  margin-left: 30px;
  color: #fca311;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.banner p {
  margin-left: 30px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Montserrat', sans-serif;
}

.banner .btn.btn-flat {
 margin-left: 30px;
}

.banner {
  position: relative;
  height: 60%;
}

.content-overlay {
  position: absolute;
  top: 50%; /* Vertically center the overlay */
  left: 50%; /* Horizontally center the overlay */
  transform: translate(-50%, -50%); /* Adjust to center the overlay perfectly */
  width: 90%;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-banner {
  text-align: left;
  color: white;
  z-index: 2;
  position: relative;
}
