.banner {
  background-size: cover;
  background-position: center;
  padding-top: 150px 0;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner h1 {
  margin-left: 30px;
  color: #fca311;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.banner p {
  margin-left: 30px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Montserrat', sans-serif;
}

.banner .btn.btn-flat {
 margin-left: 30px;
}

.banner {
  position: relative;
  height: 60%;
}

.content-overlay {
  position: absolute;
  bottom: 10%; /* Adjust this value to control the vertical position */

  width: 90%; /* Adjust the width as needed */
  height: auto; /* Let the height adjust automatically based on content */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Change to flex-start to align items to the left */
  align-items: flex-start; /* Change to flex-start to align items to the left */
  z-index: 1;
}

.container-banner {
  text-align: left; /* Adjust alignment of text to the left */
  color: white;
  z-index: 2; /* Ensure the content is on top of the overlay */
  position: relative; /* For proper stacking context */
}
