
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 229, 229, 0.2);
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  border: solid;
  border-color: #fca311;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background-color: rgba(229, 229, 229, 0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  position: absolute;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 10px;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left:-5px;
  width: 102%;
  text-decoration: none;
}

.card-link:hover {
  color: #fca311; /* Add a background color on hover for visual feedback */
}

.card-trip {
  overflow: hidden;
  background-color: #fca311;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
  position: relative;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  transition: box-shadow 0.3s; /* Added transition */
}

.card-trip:hover {
  animation: shadowAnimation 2s infinite linear;
}

@keyframes shadowAnimation {
  0%, 100% {
    box-shadow:
      0 0 7.5px #88c9ed,
      0 0 15px #7ba7d9,
      0 0 30px #5e84c7,
      0 0 45px #3e61b6;
  }

  20% {
    box-shadow:
      0 0 7.5px #88c9ed,
      0 0 15px #7ba7d9,
      0 0 30px #5e84c7,
      0 0 45px #3e61b6,
      0 0 60px #2a3c99;
  }

  40% {
    box-shadow:
      0 0 7.5px #88c9ed,
      0 0 15px #7ba7d9,
      0 0 30px #5e84c7,
      0 0 45px #3e61b6,
      0 0 60px #2a3c99,
      0 0 75px #1f2777;
  }

  60%, 80% {
    box-shadow:
      0 0 7.5px #88c9ed,
      0 0 15px #7ba7d9,
      0 0 30px #5e84c7,
      0 0 45px #3e61b6,
      0 0 60px #2a3c99,
      0 0 75px #1f2777;
  }
}



.card-trip > img {
  height: 500px;
  width: 100%;
  object-fit: fill;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.card-trip p {
  font-size: 12px;
  // opacity: .7;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.card-trip-pricing {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fca311;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-trip .card-trip-infos {
  padding: 10px;
  // position: relative;
  min-height: 100px;
  color: #14213d;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
