.navbar-lewagon {
  position: sticky;
  top: 15px;
  z-index: 2; /* Set a higher z-index to make the navbar appear on top */
  justify-content: space-between;
  background: #fca311;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.btn-flat-nav {
  color: #fca311;
  padding: 8px 24px;
  border-radius: 4px;
  background: #14213d;
  transition: background 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 5px;
}

.btn-flat-nav:hover {
  background: #c27b09;
  color: #14213d;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #14213d;
  margin-left: 5px;
}

.dropdown-item {
  color:#fca311 ;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-item:hover {
  background-color: #fca311;
  color:#14213d ;
}

.dropdown-menu {
  background-color:#14213d;
}

.bar {
  position: relative;
  display: inline-block; /* Ensure the pseudo-element respects the element's width */
  font-weight: bold;
  color: #14213d;
  text-decoration: none;
  padding-bottom: 4px; /* Add padding to create space for the line */
}

.bar {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #14213d;
  text-decoration: none;
  padding-bottom: 4px;
}

.bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #14213d;
  transition: width 0.3s ease-in-out;
}

.bar:hover::after {
  width: 50%; /* Max size of the line is 50% */
}
