.box {
  display: flex;
  align-items: flex-start;
  padding: 4px;
}

.widget {
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 4px;
  background-color: #fca311;
}

.description-widget {
width: 120%;

  h4 {
    color: #fca311;
  }
  h2 {
    color: #fca311;
  }
  p{
    font-style: italic;
  }
}

.big-display {
  display: flex;
  padding: 4px;
  margin: 10px;
  border-radius: 5px;
  border: solid;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.show-page-header {
  color: #fca311;
}
