.subheader-page {
margin: 20px;
text-align: center;
align-content: center;

}
.subheader-page {
  text-align: center;
  margin-bottom: 10px; /* Adjust the spacing as needed */

  /* Add a divider line using a pseudo-element */
  position: relative;
}

.subheader-page h2 {
  display: inline-block;
  background-color: #fca311;
  padding: 10px 20px;
  border-radius: 15px;
  color: #14213d;
  font-size: 30px;
  font-weight: bolder;
}

.subheader-page::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #fca311;
}
