.subheader-page {
margin: 30px;
text-align: center;
align-content: center;
margin-top: 30px;
text-align: center;
position: relative;
}

.subheader-page h2 {
  display: inline-block;
  background-color: #fca311;
  padding: 10px 20px;
  border-radius: 5px;
  color: #14213d;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.subheader-page::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 2px;
  background-color: #fca311;
}
